package ${target.javaPackageFromFolder(${SRC})};

import org.keycloak.adapters.springsecurity.KeycloakConfiguration;
import org.keycloak.adapters.springsecurity.authentication.KeycloakAuthenticationProvider;
import org.keycloak.adapters.springsecurity.config.KeycloakWebSecurityConfigurerAdapter;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Bean;
import org.springframework.http.HttpMethod;
import org.springframework.security.config.annotation.authentication.builders.AuthenticationManagerBuilder;
import org.springframework.security.config.annotation.web.builders.HttpSecurity;
import org.springframework.security.config.http.SessionCreationPolicy;
import org.springframework.security.core.authority.mapping.SimpleAuthorityMapper;
import org.springframework.security.core.session.SessionRegistryImpl;
import org.springframework.security.web.authentication.session.RegisterSessionAuthenticationStrategy;
import org.springframework.security.web.authentication.session.SessionAuthenticationStrategy;

@KeycloakConfiguration
class SecurityConfig extends KeycloakWebSecurityConfigurerAdapter {

	
	@Autowired
	public void configureGlobal(AuthenticationManagerBuilder auth) {
	  KeycloakAuthenticationProvider keycloakAuthenticationProvider = keycloakAuthenticationProvider();
	  SimpleAuthorityMapper authoritiesMapper = new SimpleAuthorityMapper();
	  	keycloakAuthenticationProvider.setGrantedAuthoritiesMapper(authoritiesMapper);
	  	auth.authenticationProvider(keycloakAuthenticationProvider);
	}
	  
	  @Bean
	  @Override
	  protected SessionAuthenticationStrategy sessionAuthenticationStrategy() {
	    return new RegisterSessionAuthenticationStrategy(new SessionRegistryImpl());
	  }

	  @Override
	  protected void configure(HttpSecurity http) throws Exception {
		  super.configure(http);
		  http
        	.csrf().disable()
        	.sessionManagement().sessionCreationPolicy(SessionCreationPolicy.STATELESS)
        	.and()
        	.authorizeRequests()
        
	        .antMatchers(HttpMethod.POST, "/auth**").permitAll()

#foreach($entit in $model.allEntites )
#set( $lowerEntityName = $entit.name.toLowerCase() )
#set( $upperEntityName = $entit.name.toUpperCase() )
	        .antMatchers(HttpMethod.DELETE, "/v1/${lowerEntityName}/{${lowerEntityName}Id}").hasAnyRole(Role.ADMIN.name())
#end
	        
#foreach($entit in $model.allEntites )
#set( $lowerEntityName = $entit.name.toLowerCase() )
#set( $upperEntityName = $entit.name.toUpperCase() )
	        .antMatchers(HttpMethod.PUT, "/v1/${lowerEntityName}s/{${lowerEntityName}Id}").hasAnyRole(Role.ADMIN.name())
#end
	        
#foreach($entit in $model.allEntites )
#set( $lowerEntityName = $entit.name.toLowerCase() )
#set( $upperEntityName = $entit.name.toUpperCase() )
	        .antMatchers(HttpMethod.POST, "/v1/${lowerEntityName}s").hasAnyRole(Role.ADMIN.name())
#end
        
#foreach($entit in $model.allEntites )
#set( $lowerEntityName = $entit.name.toLowerCase() )
#set( $upperEntityName = $entit.name.toUpperCase() )
	        .antMatchers(HttpMethod.GET, "/v1/${lowerEntityName}s/**").hasAnyRole(Role.ADMIN.name(), Role.USER.name())
#end
	        
	        .and()
	        .httpBasic().disable()
	        .oauth2Login().disable()
	        .formLogin().disable();
        
    }
}