#set( $Tools = $loader.loadClass("tools.EntityBuilder"))
$Tools.initialize($ROOT_PKG)
package ${target.javaPackageFromFolder(${SRC})};

$Tools.getDtoImport($entity)

public record ${entity.name}Dto(
$Tools.getDtoConstructor($entity)
		) implements Dto {

	public fr.arnaud.cleanarchitecture.core.model.${entity.name} toEntity() {
		return fr.arnaud.cleanarchitecture.core.model.${entity.name}.builder()
$Tools.getDtoToEntityBody($entity)
				.build();
	}
	
	public static ${entity.name}Dto fromEntity(final fr.arnaud.cleanarchitecture.core.model.${entity.name} entity) {
		if (entity == null) {
			return null;
		} else {
			return new ${entity.name}Dto(
$Tools.getDtoFromEntityBody($entity)
			);
		}
	}
}
