#set( $Tools = $loader.loadClass("tools.EntityBuilder"))
$Tools.initialize($ROOT_PKG)
package ${target.javaPackageFromFolder(${SRC})};

$Tools.getEntityImport($entity)

import lombok.AccessLevel;
import lombok.Builder;
import lombok.EqualsAndHashCode;
import lombok.Getter;
import lombok.RequiredArgsConstructor;
import lombok.ToString;
import lombok.experimental.FieldDefaults;


@RequiredArgsConstructor(access = AccessLevel.PRIVATE)
@FieldDefaults(level=AccessLevel.PRIVATE)
@Getter
@EqualsAndHashCode(of= {$Tools.getHashCodeEqualsLombokAttributes($entity)})
@ToString(of= {$Tools.getToStringLombokAttributes($entity)})
@Builder(builderClassName = "${entity.name}Builder")
public class ${entity.name} {

$Tools.getEntityDeclaration($entity)
}
